body {
        background-color:cornsilk;
        color:black; 
        font-family: Arial; 
        margin: 0px; 
}
header {
        background-color: burlywood;
        padding: 15px;
        font-size: 17pt;
        font-family: 'Times New Roman'
}
main {
        background-color:bisque;
        color:black; 
        font-family:initial; 
        margin: 5px;
        font-size: 20px;
}
footer {
        background-color: burlywood ;
        padding: 15px;
        font-size: 17pt;
        font-family: 'Times New Roman';
        text-align: right;
}
a {
        color:rgb(196, 117, 108);
        text-decoration: none;
}
a:link {
        color:rgb(66, 39, 59)
}
a:visited {
        color:rgba(127, 122, 129, 0.896)
}
a:hover {
        color:red;
        text-decoration: underline;
        text-shadow:10px 3px 3px rgba(147, 42, 21, 0.648) ;
}       
a:active {
        color:black;
        opacity: 0.3;
}